@using FederatedAuthNAuthZ.Extensions
@using FederatedAuthNAuthZ.Configuration
@{
    IFederatedApplicationSettings FederatedApplicationSettings = ViewBag.FederatedApplicationSettings as IFederatedApplicationSettings;
    IFederatedApplicationSettings ConsumingApplicationFederatedApplicationSettings = ViewBag.ConsumingApplicationFederatedApplicationSettings as IFederatedApplicationSettings;
    string LogoImage = ViewBag.LogoImage;
    bool ShowSpinner = ViewBag.ShowSpinner == true;
    bool useLogo = !string.IsNullOrWhiteSpace(LogoImage);
    string mainIcon = string.IsNullOrWhiteSpace(ViewBag.MainIcon) ? "fa-user": ViewBag.MainIcon;

    bool IsClassified = ConsumingApplicationFederatedApplicationSettings.NetworkIs("Classified");
    bool DisplayAsWarning = ViewBag.DisplayAsWarning == true;
    string shadowBorderClass = DisplayAsWarning && IsClassified ? "shadow-border-solid-danger" : DisplayAsWarning ? "shadow-border-solid-warning" : "shadow-border-primary";
    string avatarClass = DisplayAsWarning && IsClassified ? "card-avatar-danger" : DisplayAsWarning ? "card-avatar-warning" : "card-avatar-primary";
    string footerClass = IsClassified ? "bg-text-danger" : "bg-text-success";
}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ConsumingApplicationFederatedApplicationSettings.SiteName - Powered By - @FederatedApplicationSettings.SiteName</title>

    @Styles.Render(ViewBag.ThemeBundle as string)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.PageLoadLink()
    @Html.AntiForgeryForm()
    <main class="container pt-5 py-lg-5 my-lg-5">


        <div class="row justify-content-center">
            <div class="col" style="max-width:30rem;">
                <div class="body-content text-center">
                    <div class="card bg-light @shadowBorderClass">
                        <div class="card-avatar @avatarClass">

                            <i class="fa @mainIcon icon"></i>
                            @if (ShowSpinner)
                            {
                                <div class="loader spin"></div>
                            }
                        </div>
                        <div class="card-body text-dark text-center pt-5">
                            <div class="row justify-content-center">
                                @if (useLogo)
                                {
                                    <div class="col-auto px-1">
                                        <img src="@LogoImage" alt="@ConsumingApplicationFederatedApplicationSettings.SiteName Logo" width="75" height="75"/>
                                    </div>
                                }
                                <div class="col-auto px-1 @(useLogo?"text-left":"")">
                                    <h4 class="mb-0">@ConsumingApplicationFederatedApplicationSettings.SiteName</h4>
                                    <p class="my-0">
                                        @ConsumingApplicationFederatedApplicationSettings.SiteDescription
                                    </p>
                                    <p class="mb-0"><small class="badge badge-primary">@ConsumingApplicationFederatedApplicationSettings.VersionDisplay()</small></p>
                                </div>
                            </div>
                            <hr>
                            @RenderBody()
                            <hr>
                            <div class="row">
                                <div class="col">
                                    <p class="my-0">
                                        Powered By
                                    </p>
                                    <p class="my-0">
                                        @FederatedApplicationSettings.SiteName
                                    </p>
                                    <p class="mb-0"><small>@FederatedApplicationSettings.SiteDescription</small></p>
                                    <p class="mb-0"><small class="badge badge-primary">@FederatedApplicationSettings.VersionDisplay()</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer py-1 @footerClass">
                            <div class="text-uppercase">@ConsumingApplicationFederatedApplicationSettings.GetNetworkDisplay()</div>
                            @if (ConsumingApplicationFederatedApplicationSettings.HasNetworkDescription())
                            {
                                <div><small>@ConsumingApplicationFederatedApplicationSettings.SiteNetworkDescription</small></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    @{
        Html.RenderPartial("AlertModal", "default");
    }
    @if (ViewBag.IsAuthenticated)
    {
        Html.RenderPartial("AlertModal", "sessionTimeout");
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dataTables")
    @Scripts.Render("~/bundles/client-libraries")



    @Scripts.Render("~/bundles/site")
    <script type="text/javascript">
        $.siteInit({
            authenticated: '@ViewBag.IsAuthenticated' === 'True',
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>